/*Full Screen desktop.*/
  .main {
    width: 100%;
    height: 100%;
    text-shadow: -2px 2px 3px rgb(0,0,0), 
    2px 2px 3px rgb(0,0,0),
    2px -2px 3px rgb(0,0,0),
    -2px -2px 3px rgb(0,0,0);
}
.headerPhotoContainer {
  position:absolute;
  display: flex;
  width: 100%; 
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
}

.headerPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.headerAndMenu {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  background-color: rgba(93,196,117, .9);
  border-radius: 25px;
  width: 90%;
  height: 90%;
  justify-items: center;
  align-self: center;
  justify-content: space-evenly;
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  width: 80%;
  height: 50%;
}


.title1::before {
  content: ' ';
  background-image: url('./assets/LogoTransparent.png');
  display:inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
  height: 70%;
}

.title1, .title2, .title3 {
  position: top;
  margin: 0px;
  font-size: 7.3em;
  color: rgb(255,209,102);
  
}

.menuButtons{
  display:flex;
  flex-wrap: wrap;
  row-gap: 1em;
  width: 100%;
  height: fit-content;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(255,209,102);
}

.link, .link:visited {
  font-size: 3em;
  color: rgb(255,209,102);
  text-decoration: none;

}

button {
  justify-content: center;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  background-color:rgb(30,109,49);
}

/*Mid-screen. Half desktop screen, etc.*/
@media only screen and (max-width: 800px){
  .main {
    width: 100%;
    height: 100%;
    text-shadow: -2px 2px 3px rgb(0,0,0), 
    2px 2px 3px rgb(0,0,0),
    2px -2px 3px rgb(0,0,0),
    -2px -2px 3px rgb(0,0,0);
  }
  .headerPhotoContainer {
    position:absolute;
    display: flex;
    width: 100%; 
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .headerPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .headerAndMenu {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgba(93,196,117, .9);
    border-radius: 25px;
    width: 100%;
    height: 90%;
    justify-items: center;
    align-self: center;
    justify-content: space-evenly;
  }
  
  .titleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 80%;
    height: 90%;

  }


  .title1::before {
    content: ' ';
    background-image: url('./assets/LogoTransparent.png');
    display:inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 35%;
  }
  
  .title1, .title2, .title3 {
    margin: 0px;
    font-size: 4.5em;
    color: rgb(255,255,255);
    
  }
  .menuButtons{
    display:flex;
    flex-wrap: wrap;
    row-gap: 1em;
    width: 70%;
    height: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255,209,102);
  }
  
  .link, .link:visited {
    font-size:2em;
    color: rgb(255,209,102);
    text-decoration: none;
  
  }
  
  button {
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    background-color:rgb(30,109,49);
    width: auto;

  }
}

/*Phone screens.*/
@media only screen and (max-width: 600px){
  .main {
    width: 100%;
    height: 100%;
    text-shadow: -2px 2px 3px rgb(0,0,0), 
    2px 2px 3px rgb(0,0,0),
    2px -2px 3px rgb(0,0,0),
    -2px -2px 3px rgb(0,0,0);
  }
  .headerPhotoContainer {
    position:absolute;
    display: flex;
    width: 100%; 
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .headerPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .headerAndMenu {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgba(93,196,117, .9);
    border-radius: 25px;
    width: 90%;
    height: 80%;
    justify-items: center;
    align-self: center;
    justify-content: space-evenly;
  }
  
  .titleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 90%;
    height: 50%;
    flex-grow: 1;
    padding-top: 30%;
  }

  .title1::first-letter {
    opacity: 0;
  }

  .title1::before {
    content: ' ';
    background-image: url('./assets/LogoTransparent.png');
    display:inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 18%;
    position:absolute;
    left: 2.5dvh;
    top: 8.1dvh;

  }
  
  .title1, .title2, .title3 {
    font-size: 4.2em;
    color: rgb(255,255, 255);
    
  }
  .menuButtons{
    display:flex;
    flex-wrap: wrap;
    row-gap: 1em;
    width: 100%;
    height: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255,209,102);
  }
  
  .link, .link:visited {
    font-size: 2em;
    color: rgb(255,209,102);
    text-decoration: none;

  }

  button {
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    background-color:rgb(30,109,49);
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    .title1::before {
      content: ' ';
      background-image: url('./assets/LogoTransparent.png');
      display:inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      width: 33%;
      height: 18%;
      position:absolute;
      left: 2.5dvw;
      top: 10.5dvh;
  
    }
  }

}



.customColors {
  color: rgb(93,196,117);
  color: rgb(42,149,63);
  color: rgb(30,109,49);
  color: rgb(255,255,255);
  color: rgb(204,204,204);
  color: rgb(153,153,153);
  color: rgb(128,128,128);
  color: rgb(0,127,255);
  color: rgb(255,209,102);
}